<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Result</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>Result</div>
        <hr>
        Nama Barang : <b th:text="${nama}"></b><br>
        Harga Barang : <b th:text="${hargaAwal}"></b><br>
        Jumlah Item : <b th:text="${jmlh}"></b><br>
        Total Harga : <b th:text="${totalAwal}"></b><br>
        Diskon : <b th:text="${diskon}"></b><br>
        Total Akhir : <b th:text="${totalAkhir}"></b><br>
        ------------------------------<br>
        Bayar : <b th:text="${tunai}"></b><br>
        ------------------------------<br>
        Kembalian : <b th:text="${kembalian}"></b><br>
    </body>
</html>
